<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cc.mapper.game.GameReplayMapper">
    <resultMap id="BaseResultMap" type="com.cc.model.game.GameReplay">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="game_id" property="gameId" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="replay_content" property="replayContent" jdbcType="VARCHAR"/>
        <result column="replay_file" property="replayFile" jdbcType="VARCHAR"/>
        <result column="visa_file" property="visaFile" jdbcType="VARCHAR"/>
        <result column="replay_contract_id" property="replayContractId" jdbcType="VARCHAR"/>
        <result column="contract_status" property="contractStatus" jdbcType="SMALLINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, game_id,user_id,replay_content, replay_file,visa_file, replay_contract_id, contract_status,create_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from game_replay
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findObjectsBySearch" resultMap="BaseResultMap" parameterType="java.lang.String">

        select re.* ,g.name gameName,u.username userName

        from game_replay re left join game g on re.game_id = g.id left join tb_user u on re.user_id = u.user_id

        <if test="search != null">
            where re.replay_content like concat('%',#{search},'%')
            or g.name like concat('%',#{search},'%')
            or g.title like concat('%',#{search},'%')
            or g.description like concat('%',#{search},'%')
            or u.username like concat('%',#{search},'%')
        </if>

    </select>


    <select id="findObjectsByUserId" resultMap="BaseResultMap">
        select r.*,
        g.name gameName
        from game_replay r left join game g on g.id = r.game_id
        where r.user_id= #{userId}
        <if test="search != null">
            and g.name like concat('%',#{search},'%')
        </if>
    </select>

    <select id="findObjectsByGameId" resultMap="BaseResultMap">
        select r.*,
        u.username userName
        from game_replay r left join tb_user u on u.user_id = r.user_id
        where r.game_id= #{gameId}
        <if test="search != null">
            and u.username like concat('%',#{search},'%')
        </if>
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from game_replay
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insertSelective" parameterType="com.cc.model.game.GameReplay">
        insert into game_replay
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="gameId != null">
                game_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="replayContent != null">
                replay_content,
            </if>
            <if test="replayFile != null">
                replay_file,
            </if>
            <if test="visaFile != null">
                visa_file,
            </if>
            <if test="replayContractId != null">
                replay_contract_id,
            </if>
            <if test="contractStatus != null">
                contract_status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="gameId != null">
                #{gameId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="replayContent != null">
                #{replayContent,jdbcType=VARCHAR},
            </if>
            <if test="replayFile != null">
                #{replayFile,jdbcType=VARCHAR},
            </if>
            <if test="visaFile != null">
                #{visaFile,jdbcType=VARCHAR},
            </if>
            <if test="replayContractId != null">
                #{replayContractId,jdbcType=VARCHAR},
            </if>
            <if test="contractStatus != null">
                #{contractStatus,jdbcType=SMALLINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cc.model.game.GameReplay">
        update game_replay
        <set>
            <if test="gameId != null">
                game_id = #{gameId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="replayContent != null">
                replay_content = #{replayContent,jdbcType=VARCHAR},
            </if>
            <if test="replayFile != null">
                replay_file = #{replayFile,jdbcType=VARCHAR},
            </if>
            <if test="visaFile != null">
                visa_file = #{visaFile,jdbcType=VARCHAR},
            </if>
            <if test="replayContractId != null">
                replay_contract_id = #{replayContractId,jdbcType=VARCHAR},
            </if>
            <if test="contractStatus != null">
                contract_status = #{contractStatus,jdbcType=SMALLINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>