<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="header">
    <div id="logo"><h1><a href="#">炽橙科技</a>AR game...</h1></div>
    <nav>
        <ul class="sf-menu" id="nav">
            <li><a href="index.html">home</a></li>
            <li><a href="about.html">about me</a></li>
            <li><a href="#">my portfolio</a>
                <ul>
                    <li><a href="portfolio_one">portfolio_one</a></li>
                    <li><a href="portfolio_two">portfolio_two</a></li>
                </ul>
            </li>
            <li class="selected"><a href="blog">记录</a></li>




            <a href="css/style.css" download="" style="color: white;left: 820px;bottom: 28px;text-decoration: underline"> 下载客户端</a>

        </ul>
    </nav>
</header>


<footer th:fragment="footer">
    <p>Copyright &copy; 2018 炽橙科技. All Rights Reserved...</p>
</footer>


</body>
</html>