<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="header">
    <div id="logo"><h1><a href="#">炽橙科技</a>AR game...</h1></div>
    <nav>
        <ul class="sf-menu" id="nav">
            <li class="home category"><a href="#">首页</a>
                <ul id="home_ul">
                    <li><a href="home">游戏库</a></li>
                </ul>
            </li>
            <!--<li class="show"><a href="show">详情</a></li>-->
            <li class="about"><a href="about">about me</a></li>

            <li class="gameReplay"><a href="gameReplay">记录</a></li>
            <li class="contact"><a href="contact">登陆</a></li>

            <a href="css/style.css" download="" style="color: white;left: 820px;bottom: 28px; width:90px;text-decoration: underline"> 下载客户端</a>

        </ul>
    </nav>
</header>


<footer th:fragment="footer">
    <p>Copyright &copy; 2018 炽橙科技. All Rights Reserved...</p>
</footer>


</body>
</html>