

body {
    font: normal 14px/1.6em Microsoft YaHei, simsun, sans-serif;
    background: black;
    width: 665px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;

}


html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    outline: none;
    /* firefox */
    hide-focus: expression(this.hideFocus=true);
    /* ie */
}

a:hover {
    text-decoration: none;
}

.hidden {
    display: none;
}





.mainer {
    position: absolute;
    width: 665px;
    height: 333px;
    background: url("/app/img/game/bg.jpg") no-repeat;
}


h2 {
    font-size: 2.8em;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: 6px;
}


h3 {
    font-size: 2.4em;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: 6px;
}

.hidden {
    display: none;
}

.intro-img {
    width: 270px;
    height: 212px;
    top: 95px;
    right: 40px;
    position: absolute;
}

.img_kuang {
    top: 66px;
    right: 10px;
    position: absolute;
}

.intro_text {
    /*padding: 50px 0 0 42px;*/
    margin-top: 30px;
    text-align: left;

}

.intro_text h3{
    font-size: 27px;
    width: 450px;
}

.intro_text p {
    /*padding: 32px 217px 0 0;*/
    margin: 10px 10px 10px 10px;
    font-size: 12px;
    color: white;
}

.intro_name {
    margin-left: 45px;
    margin-top: 15px;
    text-align: left;
    width: 230px;
    word-wrap:break-word;
}

.intro_name h2{
    font-size: 24px;
    line-height: 30px;
    color: white;
}

.intro_name p{
    font-size: 18px;
    line-height: 20px;
    color: #00ffea;
    width: 200px;
    margin-top: 90px;
}

.intro_name label{
    font-size: 12px;
    color: white;
    line-height: 20px;
    width: 230px;
    margin-top: 30px;
    display: block;
}





